body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgb(253, 158, 251) , rgb(235, 235, 112));
  text-transform: capitalize;
}
.btn1 , .btn2 , .btn3{
  border-radius: 3px;
  margin-inline: 110px;
  cursor: pointer;
}